<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
							http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		version="2.5"
		xmlns="http://java.sun.com/xml/ns/javaee">

	<display-name>personslist-web</display-name>


	<!-- data load startup servlet -->
	<servlet>
		<description></description>
		<display-name>StartupServlet</display-name>
		<servlet-name>StartupServlet</servlet-name>
		<servlet-class>com.sap.hana.cloud.web.StartupServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Enable usage of Cloud persistence service -->
	<resource-ref>
	    <res-ref-name>jdbc/DefaultDB</res-ref-name>
	    <res-type>javax.sql.DataSource</res-type>
	</resource-ref>

	<!-- ============================================================== -->
	<!-- Welcome file list                                              -->
	<!-- ============================================================== -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ODataServlet</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.olingo.odata2.service.factory</param-name>
			<param-value>com.sap.hana.cloud.odata.service.PersonsListServiceFactory</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ODataServlet</servlet-name>
		<url-pattern>/personslist.svc/*</url-pattern>
	</servlet-mapping>

</web-app>